.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    background: #1C1C1C;
  
  .logo {
    width: 199.37px;
    height: 52.06px;
    padding-left: 147px;
    padding-top: 10px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    width: 531px;
    padding-right: 148px;
  }
  a {
    font-size: 14px;
    color: #ffffff;
    margin-top: 25px;
  }
  a:hover {
    cursor: pointer;
    padding-bottom: 24px;
    border-bottom: 2px solid #E27866;
  }
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

//   @media (max-width: 1350px){
// .header {
//   display: flex;
//   flex-direction: column;
//   height: 300px;
// }
//     nav {
//        display: flex;
//        flex-direction: column;
//     }
// }