body {
  margin: 0;
  padding: 0;
  user-select: none;
  max-width: 1400px;
}

.social-media {
  display: flex;
  justify-content: space-around;
  height: 105px;
}
text {
  top: 730px;
  left: 151px;
}

p {
  width: 394px;
}
// .text {
// width: 394px;
// }


.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 702.78px;
  color: #E27866;
  font-size: 1.6em;
}
