@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
* {
  margin: 0;
  padding: 0;
  user-select: none;
  text-decoration: none;
}

body {
  max-width: 1400px;
  font-family: Montserrat;
}

//Meniu

.meniu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  background: #1C1C1C;

.logo {
  width: 199.37px;
  height: 52.06px;
  padding-left: 147px;
  padding-top: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 531px;
  padding-right: 148px;
}
a {
  font-size: 14px;
  color: #ffffff;
  margin-top: 25px;
}
a:hover {
  cursor: pointer;
  padding-bottom: 24px;
  border-bottom: 2px solid #E27866;
}
}

//Header

.header {
  display: flex;
  width: 100%;
  height: 639px;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url(/images/city.png);
  // opacity: 0.63;

.header1 {
  width: 651px;
  padding-top: 66px;
  padding-left: 150px;
  color: white;

img {
  width: 246px;
  height: 107px;
  padding-bottom: 22px;
 } 
h2 {
  width: 426px;
  height: 87px;
  font-size: 36px;
  padding-bottom: 21px;
}
hr {
  border-top: 2px solid white;
  width: 70px;
  margin-bottom: 24px;
}
p {
  height: 65px;
  padding-bottom: 43px;
}
button {
  background: none;
  width: 135px;
  height: 42px;
  color: white;
  border: 2px solid white;
}
button:hover{
  cursor: pointer;
}
}
.form {
  width: 360px;
  margin-top: 75px;

.name {
  height: 57px;
  color: black;
  background: #F5F5F5;
  border-radius: 5px 5px 0 0;

h3 {
  width: 260px;
  margin: auto;
  padding-top: 17px;
}
span {
  color: #E27866;
}
}
.details {
height: 311px;
background-color: #FFFFFF;
padding-left: 51px;
padding-top: 42px;
padding-top: 42px;

p {
  font-size: 16px;
  color: 1C1C1C;
  font-weight: bold;
}
.inputs {
margin-top: 20px;


input {
  width: 260px;
  border: none;
  border-bottom: 1px solid #D8D8D8;
  font-size: 12px;
  margin-bottom: 30px;
}
}
.checkbox {
  padding-top: 18px;
}
}
.button1 {
height: 57px;
background: #41D395;
text-align: center;
border-radius: 0 0 5px 5px;
// .button1:hover{
//   cursor: pointer;
// }
button {
  background: none;
  width: 127px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  color: #FFFFFF;
  padding-top: 15px;
}
}
}
}

//Social Media section
.social-media {
  display: flex;
  justify-content: space-around;
  height: 105px;
  width: 1400px;
  margin-top: 19px;
  

.text {
    max-width: 681px;
    padding-left: 151px;
h3 {
  width: 130px;
  height: 24px;
  margin-bottom: 5px;
  color: #333333;
  opacity: 1;

}
p {
    width: 394px;
    max-height: 38px;
    color: #86878B;
    opacity: 1;
  }
}
.social-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 702.78px;
    padding-right: 158px;
    color: #E27866;
    font-size: 1.6em;
    opacity: 0.65;
  }
  
}

//Section 4 
.fourth {
  display: flex;
  width: 100%;
  background-color: #1C1C1C;
  color: #FFFFFF;

.logo {
padding-left: 210px;
padding-right: 168px;
margin: auto;
img {
  width: 388px;
  height: 169px;
}
}
.side-text {
  width: 460px;
  padding-right: 182px;
  padding-top: 90px;
  padding-bottom: 90px;
  color: #FFFFFF;

h2 {
  width: 314px;
  height: 80px;
  font-size: 30px;
}
hr {
    border: 2px solid #E27866;
    width: 200px;
    margin-top: 27px;
    margin-bottom: 27px;
}
.second-text {
  width: 451px;
  height: 58px;
  font-size: 14px;
  padding-bottom: 43px;
}
.first-image {
  display: flex;
  margin-bottom: 36px;
  
i { 
    color: #ffffff;
    background-color: #E27866;
    text-align: center;
    padding: 16px 12px 16px 12px;
    width: 27px;
    height: 18px;
    border: 1px solid #E27866;
    border-radius: 50px;
    margin-right: 30px;
}
h3 {
  font-size: 14px;
  margin-bottom: 6px;
}
p {
  font-size: 14px;
  width: 394px;
  height: 38px;
}
}
.second-image {
  display: flex;
  margin-bottom: 36px;
  
i { 
    color: #ffffff;
    background-color: #E27866;
    text-align: center;
    padding: 16px 12px 16px 12px;
    width: 27px;
    height: 18px;
    border: 1px solid #E27866;
    border-radius: 50px;
    margin-right: 30px;
}
h3 {
  font-size: 14px;
  margin-bottom: 6px;
}
p {
  font-size: 14px;
  width: 394px;
  height: 38px;
}
}
}
}

//Section 5

section .five {
height: 592px;


}
.five .main {
  text-align: center;
  margin-top: 98.76px;

  h2 {
    margin: auto;
    margin-bottom: 25px;
    width: 444px;
    height: 44px;
    font-size: 36px;
  }
  
  hr {
    border-top: 2px solid #E27866;
    width: 64px;
    margin: auto;

  }

  p {
    margin-top: 25px;
    font-size: 14px;
    color: #86878B;
  }  
}
.reasons {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 65.24px;
  width: 960px;
  height: 194px;
  padding-bottom: 122px;

  .design {
    width: 286px;
    .img-1{
      margin: auto;
      width: 50px;
      height: 50px;
  
      i { 
        color: #E27866;
        text-align: center;
        padding: 14px 16px 14px 17px;
        width: 17px;
        height: 23px;
        border: 1px solid #E27866;
        border-radius: 50px;
    }
    }

  .name {
    font-size: 20px;
    color: #333333;
    margin-top: 37px;
  }
  p {
    text-align: center;
    font-size: 14px;
    color: #86878B;
    width: 286px;
    height: 58px;
  }
  }
  .crafter {
    width: 242px;
    padding-left: 97px;
    padding-right: 97px;
    .img-2{
      margin: auto;
      width: 50px;
      height: 50px;
  
      i { 
        color: #E27866;
        text-align: center;
        padding: 14px 16px 14px 17px;
        width: 17px;
        height: 23px;
        border: 1px solid #E27866;
        border-radius: 50px;
    }
    }

  .name {
    font-size: 20px;
    color: #333333;
    margin-top: 37px;
  }
  p {
    text-align: center;
    font-size: 14px;
    color: #86878B;
    width: 242px;
    height: 58px;
  }
  }
  .customize {
    width: 238px;
    .img-3{
      margin: auto;
      width: 50px;
      height: 50px;
  
      i { 
        color: #E27866;
        text-align: center;
        padding: 14px 16px 14px 17px;
        width: 17px;
        height: 23px;
        border: 1px solid #E27866;
        border-radius: 50px;
    }
    }

  .name {
    font-size: 20px;
    color: #333333;
    margin-top: 37px;
  }
  p {
    text-align: center;
    font-size: 14px;
    color: #86878B;
    width: 238px;
    height: 58px;
  }
  }
}

// Section 6

.sixth {
  background-color: #6696E2;
  width: 100%;
  height: 883px;

.pricing {
  display: flex;
  justify-content: space-around;
  
}

.pricing-text {
  text-align: center;
  padding-top: 97px;
  padding-bottom: 83px;

  h3 {
    font-size: 36px;
    color: #FFFFFF;
  }
  hr {
    border: 2px solid #41D395;
    width: 64px;
    margin: auto;
    margin-top: 21px;
    margin-bottom: 26px;
  }
  p {
    color: #FFFFFF;
    font-size: 14px;
  }
}
.first-pricing {
  width: 343px;
  text-align: center;

.pricing-top {
  color: #ffffff;
  background-color: black;
  border-radius: 5px 5px 0px 0px;

h3 {
  font-size: 20px;
  padding-top: 14px;
  padding-bottom: 13px;
  font-weight: normal;
}
.price {
  width: 84px;
  height: 115px;
  margin: auto;
  padding-top: 5px;
span {
  font-size: 94px;
}
}
p {
  padding-bottom: 18px;
}
}
.green {
  background-color: #41D395;
  height: 6px;
}
.list {
  color: #86878B;
  background-color: #FFFFFF;
  padding-top: 11px;
  border-radius: 0 0 5px 5px;

ul {
  list-style-type: none;
}

li {
  font-size: 14px;
  padding-bottom: 21px;
}
}
}
.second-pricing {
  width: 343px;
  text-align: center;

.pricing-top {
  color: #ffffff;
  background-color: black;
  border-radius: 5px 5px 0px 0px;

h3 {
  font-size: 20px;
  padding-top: 14px;
  padding-bottom: 13px;
  font-weight: normal;
}
.price {
  width: 84px;
  height: 115px;
  margin: auto;
  padding-top: 5px;
span {
  font-size: 94px;
}
}
p {
  padding-bottom: 18px;
}
}
.green {
  background-color: #41D395;
  height: 40px;

p {
  color: #ffffff;
  padding-top: 10px;
}
}
.list {
  color: #86878B;
  background-color: #FFFFFF;
  padding-top: 11px;
  border-radius: 0 0 5px 5px;
ul {
  list-style-type: none;
}

li {
  font-size: 14px;
  padding-bottom: 21px;
}
}
}
.third-pricing {
  width: 343px;
  text-align: center;

.pricing-top {
  color: #ffffff;
  background-color: black;
  border-radius: 5px 5px 0px 0px;

h3 {
  font-size: 20px;
  padding-top: 14px;
  padding-bottom: 13px;
  font-weight: normal;
}
.price {
  width: 84px;
  height: 115px;
  margin: auto;
  padding-top: 5px;
span {
  font-size: 94px;
}
}
p {
  padding-bottom: 18px;
}
}
.green {
  background-color: #41D395;
  height: 6px;
}
.list {
  color: #86878B;
  background-color: #FFFFFF;
  padding-top: 11px;
  border-radius: 0 0 5px 5px;
ul {
  list-style-type: none;
}
li {
  font-size: 14px;
  padding-bottom: 21px;
}
}
}
}

.contact {
  height: 573px;
  background-color: #E27866;
  text-align: center;

h3 {
  text-align: center;
  color: #FFFFFF;
  font-size: 36px;
  padding-top: 70px;
  padding-bottom: 50px;
}
p {
  width: 390px;
  margin: auto;
  color: #FFFFFF;
  padding-bottom: 27px;
  font-size: 14px;
}
.form1 {
  background-color: #FFFFFF;
  width: 390px;
  height: 314px;
  margin: auto;
  border-radius: 5px;

.inputs {
  width: 260px;
  padding-top: 33px;

input {
  font-size: 12px;
  width: 260px;
  margin-left: 74px;
  border: none;
  border-bottom: 1px solid #D8D8D8;
  margin-bottom: 32px;
} 
}
.checkbox {
  font-size: 9px;
  width: 260px;
  padding-left: 15px;
}
button {
  margin-top: 41px;
  width: 158px;
  height: 48px;
  background-color: #41D395;
  border: none;
  border-radius: 5px;
}
button:hover {
  cursor: pointer;
}
}
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 124px;
  background-color: #1C1C1C;

.social-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 531px;
    margin-left: 139px;
    color: #E27866;
    font-size: 1em;
    opacity: 1;
}
p {
  color: #FFFFFF;
  opacity: 0.5;
  width: 213px;
  height: 22px;
  padding-top: 51px;
  margin-right: 136px;
}
}


 
  

