body {
  margin: 0;
  padding: 0;
  user-select: none;
  max-width: 1400px;
}

.social-media {
  display: flex;
  justify-content: space-around;
  max-height: 105px;

.text {
width: 400px;

}
}

.social-links {
  color: #E27866;
}


.social-links i {
  font-size: 1.5em;

}